.btn {
	display: inline-block;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	border: 1px solid transparent;
	cursor: pointer;
	transition: all 0.15s ease-in-out;
  }

  .btn-default {
	color: #FFF;
	background-color: #23B5B2;
  }

  .btn-default:hover {
	background-color: #139491;
  }

  .btn-md {
	font-size: inherit;
	height: 35px;
	padding: 6px 20px 5px 20px;
  }
  
  .btn-sm {
	height: 25px;
	padding: 0 20px;
	font-size: 12px;
  }
